<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Form</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div id="form-div">
        <h1>Submit Your Name</h1>
        <form id="name-form" action="/submit-form" method="get">
            <label for="name">Please Enter Your Name:</label>
            <input
                id="name-field"
                name="name"
                type="text">
            <input id="submit-button" type="submit" disabled="true">
        </form>
    </div>
    <button id="hide-button">Hide Form</button>
    <script src="/main.js"></script>
    </body>
</html>